# Grupo 5 - Painel do Lojista - BD Relacional
Integrantes

- Bruno
- Cristofer
- Leonardo
- Rafael

In [4]:
show databases;

Database
information_schema
mysql
performance_schema
sys